<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Genre</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of videoGames">
                        <td>{{ game.id }}</td>
                        <td>{{ game.name }}</td>
                        <td>{{ game.description }}</td>
                        <td>{{ game.genre }}</td>
                        <td>{{ game.active }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="toggleActive(game)">{{ game.active ? 'Deactivate' : 'Activate' }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
